.boxAuthor{
    position: absolute;
    width: auto;
    height: auto;
    left: 52px;
    
    display: flex;
    flex-direction: column;
    align-items: left;

    color: #4F4F4F;
}

.h1{
    justify-content: left;
    display: flex;
    font-size: 25px;
    font-family: 'Roboto';
}

.cardLeftAuthor{
    position: absolute;
    width: 488px;
    height: auto;
    left: 41px;
    top: 120px;

    background: #FFFFFF;
    border-radius: 6px;
}

.cardRightAuthor{
    position: absolute;
    width: 488px;
    height: auto;
    left: 589px;
    top: 120px;

    background: #FFFFFF;
    border-radius: 6px;
}