.boxAuthor {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #4f4f4f;
}

.cardLeftAuthor {
  position: absolute;
  width: 488px;
  height: auto;
  left: 41px;
  top: 120px;
  flex: 1;
  border-radius: 6px;
}

.cardRightAuthor {
  position: absolute;
  width: 488px;
  height: auto;
  left: 589px;
  top: 120px;
  flex: 1;
  border-radius: 6px;
}
