.boxBook{
    position: absolute;
    width: 100%;
    height: auto;
    left: 52px;
    
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: left;

    color: #4F4F4F;
}

h1{
    justify-content: left;
    display: flex;
    font-size: 25px;
    font-family: 'Roboto';
}

.cardLeftBook{
    position: absolute;
    width: 510px;
    height: auto;
    left: 41px;
    top: 120px;

    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 6px;
}

.cardRightBook{
    position: absolute;
    width: auto;
    height: auto;
    left: 589px;
    top: 120px;

    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 6px;
}